@charset "utf-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 1.7;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: orange;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

article {
    margin: 10% 7% 15% 7%;
    padding-top: 2%;
    border-top: 1px solid #ccb8a5;
}

.wrapper {
    margin: 5%;
}

.flex {
    display: flex;
    /* justify-content: space-around; */
}

h1 {
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    border-bottom: #333 1px solid;
}

h2 {
    /* text-indent: 2em;
    position: relative;
    padding: 0 30px;
    width: fit-content; */

    /* text-align: center; */
    /* width: fit-content; */
    padding-left: 40px;
    background-image: url(icon/slash.svg), url(icon/slash.svg);
    /* position: relative; */
    background-position: top left, bottom left 220px;
    background-size: 10px;
}


@media (max-width:750px) {
    .flex {
        display: block;
    }


}

/* =================HEADER================ */
header {
    width: 270px;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 3%;
    opacity: 0.8;
    /* display: flex;
    background-color: aliceblue;
    padding: 30px;
    opacity: 0.8; */
    /* justify-content: space-between; */
}


header ul {
    margin-top: 20px;
    /* display: flex; */
}

header li {
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 1em;
}

.top {
    background-image: url(img/pctop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

/* =================PROF================ */
/* .profex {
    width: 600px;
} */

.love {
    border-top: 1px dashed #7e7e7e;
    /* padding: 40px; */
    margin-left: 270px;
}

.profname {
    font-size: 24px;
    margin-left: 70px;
}

.profimg {
    width: 170px;
    height: auto;
    margin-right: 2em;
}


.ex-year {
    margin: 10px 0 5px;
}

.ex-phot {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    padding: 0 70px; */
    width: 40%;
}

.magazine-content,
.exvision {
    /* width: 50%; */
    padding: 2%;
    /* font-size: 15px; */
    line-height: 1.2;
}

.magazine-content {
    border-right: 1px solid #7e7e7e;
    width: 40%;
}

.exvision {
    width: 60%;
}

@media (max-width:750px) {
    .love {
        margin-left: 0px;
    }

    .magazine-content,
    .exvision {
        width: 100%;
    }

    /* .ex-overvew {
        margin-bottom: 1em;
    } */

    .magazine-content {
        border: none;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px dashed #7e7e7e;
    }
}

/* =================SITE================ */

.sitegrid+.sitegrid {

    border-top: 1px solid #ccb8a5;
    padding-top: 50px;
}

.ex-overvew h3 {
    margin: 30px 0 10px;
    border-bottom: 2px dashed #ffbb94;
    padding-left: 1em;
}

/* .sitea {
    display: flex;
    border-bottom: 1px solid #000;
}

.sitea::after {
    content: '';
    width: 100px;
    height: 15px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
} */

.sitelink img {
    /* width: 680px; */
    width: 50vw;
    height: auto;
    border: 1px solid #333;
    border-radius: 3%;
    margin-top: 1em;
    margin-right: 2rem;
    box-shadow: 6px 10px 0 #ffe0ba;
    margin-bottom: 50px;
}

.sitelink img:hover {
    opacity: 0.8;
    transition: 0.3s;
    /* cursor: url(icon/syousai.svg),auto; */
}

.ex-overvew p {
    margin-left: 1rem;
}

.ex-overvew h3 {
    font-weight: normal;
    /* text-align: center; */
}

.siteimg img {
    height: 80vh;
    width: auto;
    border: 1px solid #333;
    margin-right: 5px;
}

.ovv img {
    width: 35%;
    height: auto;
}


#site a,
#contact a {
    text-decoration: underline;
    color: orange;
}
#site button a {
    text-decoration: none;
    color: #333;
}
button {
    border: 1px solid orange;
    border-radius: 50px;
    padding: 10px 50px;
    display: block;
    margin: 2em auto;
}

button:hover {
    background-color: orange;
    color: #fff;
    transition: 0.3s;
}

@media (max-width:750px) {
    .ex-overvew h3 {
        margin-top: 1em;
    }

    .sitelink img {
        width: 100%;
        margin-bottom: 10px;
    }

    .ex-overvew {
        margin-bottom: 60px;
    }
}

/*========================== ILLUST ==========================*/
#illust .flex {
    justify-content: center;
}

.illustgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3%;
}

.thumbnail img {
    object-fit: cover;
    width: 10vw;
    height: 20vh;
}
/* .thumbnail {
    width: 70%;
    height: 100%;
    position:absolute;
} */

/* .paintgrid {
    border-right: 1px solid #7e7e7e;
    padding-right: 30px;
}

.illugrid {
    margin-left: 30px;
} */

@media (max-width:750px) {
    .illustgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /* .paintgrid {
        border: none;
        padding: 40px 0;
    }

    .illugrid {
        margin-left: 0;
    } */
}

/*========================== CONTACT ==========================*/
#contact .flex {
    justify-content: space-around;
}

#contact img {
    width: 400px;
    height: auto;
}

@media (max-width:750px) {
    .adress {
        text-align: center;
        margin-top: 30px;
    }
}


/*========================== FOOTER ==========================*/
footer {
    padding-top: 370px;
    text-align: center;

    background-image: url(img/tnks.jpg);
    background-size: contain;
}

.footer-fst {
    padding-top: 50px;
    border-top: 1px solid #7e7e7e;
}

footer .flex {
    margin: 20px 50px;
    align-items: center;
    justify-content: space-around;
}

footer img {
    width: 30px;
    height: auto;
}

footer p {
    margin: 0px;
}

footer small {
    display: block;
    margin-top: 30px;
    font-size: 15px;
}

@media (max-width:750px) {
    footer {
        padding-top: 150px;
    }
}




/*========================== ILLUSTpage ==========================*/
#illustpage .top_image {
    height: 30vh;
}

.illustgrid h3 {
    margin: 20px;
    width: 190px;
}



/* ===========モーダルCSS=========== */
.thumbnail {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    /* max-width:300px; */
}

.thumbnail:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    /*下に動く*/
}

.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    text-align: center;
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    /* margin-left: -.05em; */
    vertical-align: middle;
    content: ""
}

.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    /* max-width: 70%;
    max-height: 70%; */
    width: fit-content;
    /* max-width: 600px; */
    /* padding: 10px 30px 25px; */
    /* border-radius: 30px; */
    background: #fff;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .6); */
    vertical-align: middle;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
}

.modal-content {
    margin: 30px 0;
}

.modal-content img {
    width: auto;
    height: 80vh;
}