@charset "utf-8";

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 1.7;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: orange;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

article {
    margin: 10% 7% 15% 7%;
    padding-top: 2%;
    border-top: 1px solid #ccb8a5;
}

.wrapper {
    margin: 5%;
}

.flex {
    display: flex;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    border-bottom: #333 1px solid;
}

h2 {
    padding-left: 40px;
    background-image: url(img/slash.svg), url(img/slash.svg);
    /* position: relative; */
    background-position: top left, bottom left 200px;
    background-size: 10px;
}

#illust h2 {
    background-position: top left, bottom left 250px;
}

#contact h2 {
    background-position: top left, bottom left 185px;
}

#prof small,
#site small {
    /* text-indent: 1.5em; */
    margin-left: 1.5em;
    display: block;
    font-size: 14px;
}

rt {
    color: #8f8178;
}

@media (max-width:750px) {
    .flex {
        display: block;
    }

    article {
        margin: 20% 7%;
        padding-top: 7%;
    }

    .wrapper {
        text-align: center;
        margin: 0;
    }

    .wrapper p,
    h1,
    h2,
    h3,
    h4 {
        text-align: left;
    }
}

/* =================HEADER================ */
header {
    width: 270px;
    background-color: aliceblue;
    border-radius: 0 0 50px 0;
    padding: 3%;
    opacity: 0.8;
    /* display: flex;
    background-color: aliceblue;
    padding: 30px;
    opacity: 0.8; */
    /* justify-content: space-between; */
}


header ul {
    margin-top: 20px;
    /* display: flex; */
}

header li {
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 1.5em;
}

.top {
    background-image: url(img/pctop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

@media (max-width:750px) {
    header {
        width: 60%;
        box-sizing: initial;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin-bottom: 30px;
    }

    .top {
        height: 80vh;
        background-position: left 70%;
    }
}

/* =================PROF================ */

.love {
    padding: 30px 40px;
}

.love .flex {
    justify-content: space-around;
}

.love h3:first-of-type {
    margin-bottom: 0;
}

.love h3,
.love h4 {
    text-align: center;
}

.proftop h3 {
    font-size: 24px;
    margin-left: 35px;
}

.profimg {
    width: 170px;
    height: auto;
    margin-right: 2em;
    margin-top: 30px;
}

.profex {
    text-indent: 1em;
}

.love_others,
.love_others h4 {
    text-align: left;
}


.ex-year {
    margin: 10px 0 5px;
}

#prof .ex-overvew {
    margin-top: 5px;
    border-bottom: 1px dashed #ccb8a5;
    padding-bottom: 5px;
}

/* #prof .ex-overvew:last-child {
    border-bottom: none;
} */


.magazine-content,
.exvision {
    width: 50%;
    padding: 2%;
    /* font-size: 15px; */
    line-height: 1.2;
}

.magazine-content {
    border-right: 1px solid #7e7e7e;
}

.exvision .ex-phot div+div img {
    margin-left: 10px;
}

.prof_site {
    margin-top: 30px;
}

@media (max-width:750px) {
    #prof img {
        margin-right: 0;
    }

    .proftop h3 {
        text-align: center;
    }

    .love h4 {
        margin: 0px;
    }

    .love img {
        margin-top: 0;
    }

    .love p {
        text-align: center;
        /* padding: 1em; */
    }

    #prof .ex-overvew {
        margin: 10px 0;
    }

    .magazine-content,
    .exvision {
        width: 100%;
    }

    .magazine-content {
        border: none;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px dashed #7e7e7e;
    }

    /* .love .flex, */
    .ex-phot {
        display: flex;

    }

    .ex-year {
        margin: 20px 0 5px;
    }

    .love_others h4 {
        margin-top: 10px;
    }

    .love_others p,
    .magazine-content p,
    .exvision p {
        text-align: left;
    }

    .love_others p {
        margin-left: 1em;
    }

    .exvision .ex-phot img {
        margin-top: 20px;
    }

    #prof small {
        text-align-last: left;
        margin-left: 1em;
    }
}


/* =================SITE================ */
.sitegrid+.sitegrid {

    border-top: 1px solid #ccb8a5;
    padding-top: 50px;
}

#site h4,
#illust h3 {
    margin: 30px 0 10px;
    border-bottom: 2px dashed #ffbb94;
    padding-left: 1em;
}


.sitelink img {
    width: 50vw;
    height: auto;
    border: 1px solid #333;
    border-radius: 3%;
    margin-top: 1em;
    margin-right: 2rem;
    box-shadow: 6px 10px 0 #ffe0ba;
    margin-bottom: 50px;
}

.sitelink img:hover {
    opacity: 0.8;
    transition: 0.3s;
    /* cursor: url(icon/syousai.svg),auto; */
}

.hidden {
    display: none;
}

/* .siteview {
    width: 30%;
} */
.siteview img {
    max-height: 80vh;
    width: auto;
    border: 1px solid #000;
    margin-left: 10px;
}

.ex-overvew p {
    margin-left: 1rem;
}

/* .ex-overvew h3 {
    font-weight: normal;
    text-align: center;
} */


.ovv {
    margin-left: 20px;
    /* width: 70%; */
}

/* .ovvcontent {
    padding: 20px 40px;
} */

.ovvcontent h4 {
    margin: 0;
}

.ovvcontent p {
    margin-left: 1em;
}

/* .ovvcontent img {
    height: auto;
    max-width: 150px;
    margin-right: 10px;
} */
.ovvcontent .flex img {
    height: auto;
    width: 60%;
    margin-right: 1em;
    margin-top: 1em;
}

.ovv_flex {
    display: flex;
    justify-content: space-around;
    /* height: 200px;
    width: auto; */
    margin-top: 1em;
}

.ovv_flex img {
    max-width: 95%;
    max-height: 400px;
    object-fit: contain;
}

#site .thumbnail {
    width: 700px;
}

.ex-overvew a,
#contact a {
    text-decoration: underline;
    color: orange;
}

#site button a {
    text-decoration: none;
    color: #333;
}

button {
    border: 1px solid orange;
    border-radius: 50px;
    padding: 10px 50px;
    display: block;
    margin: 2em auto;
}

button:hover {
    background-color: orange;
    color: #fff;
    transition: 0.3s;
}

@media (max-width:750px) {
    .sitegrid {
        margin: 30px 0;
    }

    /* #site h3 {
        margin-top: 20px;
    } */
    #site h4 {
        margin-top: 1em;
    }

    .sitelink img {
        width: 100%;
        margin: 10px 0;
    }

    .siteview {
        display: flex;
        margin: 70px 0 30px 0;
        width: 100%;
        justify-content: center;
    }

    .siteview img {
        width: auto;
        height: 550px;
    }

    .ex-overvew {
        margin-bottom: 60px;
    }

    .ovvcontent {
        padding: 10px;
    }

    .ovv {
        margin-left: 0;
        padding-bottom: 20px;
        width: 100%;
    }

    .ovvcontent h4 {
        margin-top: 0;
    }

    .ovvcontent .flex img {
        height: auto;
        width: 95%;
    }

    .ovv_flex {
        display: block;
    }

    .ovv_flex img {
        margin-top: 15px;
    }
}

/*========================== ILLUST ==========================*/

#illust .sitelink img {
    margin-bottom: 10px;
}

.banner {
    border-bottom: 1px solid #ccb8a5;
    padding: 70px 0;
}
.banner_img {
    margin-right: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.banner_s {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.banner_ex {
    text-align: left;
    /* margin-left: 1em; */
}

#illust small {
    margin: 20px 0;
}
#illust .banner small {
    margin: 0 0 20px 0;
}

/* #illust .sitelink img {
    width: 500px;
    height: auto;
    margin-bottom: 30px;
} */

.illustgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    padding: 0 5%;
}

/* ===========モーダルCSS=========== */
#illust small {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #726060;
}

#illust .thumbnail {
    /* object-fit: cover; */

    /* text-align: center; */
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    /* max-width:300px; */
    /* line-height: 0; */
}

/* .thumbnail:active { */
/*ボタンを押したとき*/
/* -webkit-transform: translateY(2px);
    transform: translateY(2px); */
/*下に動く*/
/* } */

.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 40px; */
    text-align: center;
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

/* .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility: .4s;
} */

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    /* margin-left: -.05em; */
    vertical-align: middle;
    content: ""
}

.modal-wrapper .modal-window {
    /* box-sizing: border-box; */
    display: inline-block;
    z-index: 20;
    position: relative;
    /* max-width: 70%;
    max-height: 70%; */
    width: fit-content;
    /* height: 90vh; */
    /* max-width: 600px; */
    /* padding: 10px; */
    /* border-radius: 50px; */
    background: #fff;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .6); */
    vertical-align: middle;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
}

.modal-content {
    margin: 0;
}

.modal-content img {
    max-width: 80vw;
    height: 83vh;
    object-fit: contain;
}

.modal-content_p {
    width: 400px;
    padding: 30px 30px 30px 0;
    text-align: center;
}

.modal-content_p img {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}


@media (max-width:750px) {
    .banner + .banner {
        padding: 100px 0;
    }
    .banner .sitelink img {
        width: 00px;
        height: auto;
    }
    .c_flex {
        display: block;
    }
    .c_flex_img {
        display: flex;
    }
    
    #illust .sitelink img {
        width: 300px;
        height: auto;
    }

    .illustgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ===========モーダルCSS=========== */
    .modal-wrapper .modal-window {
        width: 90vw;
        height: fit-content;
        padding: 15px;
    }

    .modal-content img {
        max-width: 80vw;
        height: 60vh;
        object-fit: contain;
    }

    .modal-content_p {
        padding: 0 30px;
        width: 100%;
    }

}

/*========================== CONTACT ==========================*/
#contact {
    margin-bottom: 30px;
}

/* #contact .flex {
    justify-content: space-around;
} */

#contact img {
    width: 400px;
    height: auto;
}

.adress {
    padding-top: 3em;
    text-align: center;
    line-height: 2.2;
    width: 50%;
}

#contact small {
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.7;

}

@media (max-width:750px) {
    .adress {
        margin-top: 30px;
        margin: 0 auto;
        width: 100%;
    }

    .adress p {
        text-align: center;
    }

    #contact img {
        width: 250px;
        height: auto;
    }
}


/*========================== FOOTER ==========================*/
footer {
    padding-top: 100px;

    text-align: center;
}

.footer-fst {
    padding-top: 50px;
    border-top: 1px solid #7e7e7e;
}

footer .flex {
    margin: 20px 0;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

footer small {
    display: block;
    margin-top: 30px;
    font-size: 15px;
}

@media (max-width:750px) {
    footer {
        padding-top: 150px;
    }

    footer li {
        margin-bottom: 3px;
    }
}